In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/raw/Annotations.csv', 
                #  sheet_name='Sheet3',
                #  header=1,
                 sep=',',
                 dtype=str,
                 on_bad_lines='skip')

In [3]:
data.head()

  Filename                   Solution Difficulty
0      001       A drop in the bucket       Easy
1      002              first edition       Easy
2      003            kick the bucket       Easy
3      004  feeling under the weather       Easy
4      005          don't cut corners       Hard

In [4]:
data_f = data[['Filename', 'Solution']].copy()

In [5]:
data_f.head()

  Filename                   Solution
0      001       A drop in the bucket
1      002              first edition
2      003            kick the bucket
3      004  feeling under the weather
4      005          don't cut corners

In [6]:
print(data_f.columns.tolist())

['Filename', 'Solution']

In [7]:
print(data_f.dtypes)

Filename    object
Solution    object
dtype: object

In [8]:
print(data_f['Solution'].head())

0         A drop in the bucket
1                first edition
2              kick the bucket
3    feeling under the weather
4            don't cut corners
Name: Solution, dtype: object

In [9]:
data_f.dropna(how='all', inplace=True)

In [13]:
data_f.to_csv('../data/raw/annotations.csv', index=False)

In [14]:
annot = pd.read_csv("annotations.csv")
annot.head()

   Filename                   Solution
0         1       A drop in the bucket
1         2              first edition
2         3            kick the bucket
3         4  feeling under the weather
4         5          don't cut corners

In [15]:
print(annot.tail())

     Filename                         Solution
167       168                 Handily defeated
168       169  Everything but the kitchen sink
169       170           Read between the lines
170       171         Think of the big picture
171       172                 Cut to the chase